@import url(https://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.grid_container {
    display: grid;
    gap: 12px;
    padding: 12px;
    justify-items: center;
}

#header {
    color: #ffffff;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 7.5vw;
    margin: 1.5vw;
}

.calendar {
    text-align: center;
    place-self: center;
    margin: 6vh;
}

.calendar header {
    position: relative;
}

.calendar h2 {
    text-transform: uppercase;
    color: #ffffff;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #FFFFFF;
}

.calendar tbody td:hover {
    border: 2px solid #00addf;
}

.calendar .dow {
    color: #F15025;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #A1A5A1;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.calendar .curMonth {
    color: #FFFFFF;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #00addf;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #00addf;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    background-color: #191919;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}

.scroll-btn {
    text-decoration: none;
    color: #E6E8E6;
}

.scroll-btn:hover,
.scroll-btn:active {
    color: #F15025;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}


.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
